<%= div_for(comment, class: "panel panel-default") do %>
<div class="panel-heading">
	<h4 class="panel-title"><%= comment.user %></h4>	
</div>
	<div class="panel-body">

		<%= simple_format(comment.text) %>

	</div>
	<div class="panel-footer">
		<%= state_for(comment) %>
	</div>
<% end %>