
// #logo{
// 	font-family: $fancy-font;
// 	font-weight: 200;
// 	float: left;
// 	font-size: 40px;
// 	// margin-left: 5px;
// 	// line-height: 1;
// 	margin-top: 15px;
// }

// #logo:hover{
// 	color: #777;
// 	text-decoration: none;
// }

// #logo-image{
// 	display: inline-block;
// 	float: left;
// 	height: 50px;
// 	// padding: 5px;
// 	margin-left: 5px;
// }