body {
  padding-top: 100px;  //push body down from header
  padding-bottom: 40px; // put body up from footer
  // background-color: #eee;
}

.centerfy img{
    margin: 0 auto;
}
.centerfy{
    text-align: center;
}

.jumbotron {
	background-color: $lighter-grey;
	
	text-align: center;
	h1 { font-family: $fancy-font; }
	small { 
		font-size: 20px;
		// color: $dark-grey;
		font-family: $font-san-serif ;
		 }
}