// Fonts
$fancy-font: 'Rochester', cursive;
$font-san-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;

// Colors
$dark-grey: rgb(119, 119, 119);;
$light-grey: #eeeeee;
$lighter-grey: #fcfcfc;