<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centerfy text-center">
				<%= image_tag("robin100.png", class: "img-responsive center-block") %>	
				<h1>ProjectRobin<small>[Alpha]</small></h1>
				<p>A simple project management helper</p>
				<p><%= link_to "Start", new_user_path,  class: "btn btn-info btn-lg" %></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-danger">
			<div class="panel-heading">Warning!</div>
				<ul class="list-group">
			    <li class="list-group-item">This is a first spike of code! (Concept stage)</li>
			    <li class="list-group-item">Uploading files functions but is disabled. Will be moving to Dropbox soon!.</li>
			    <li class="list-group-item">This is a mash-up of the best bits of Github Issue tracker, Pivotal, Trello, Kanbanote.</li>
			    <li class="list-group-item">This is a work in progress and WILL change. Likely to be wiped.</li>
		  	</ul>
		</div>		
	</div>
</div>