<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centerfy text-center">
				<%= image_tag("robin100.png", class: "img-responsive center-block") %>	
				<h1>ProjectRobin<small>[Alpha]</small></h1>
				<p>A simple project management helper</p>
				<p><%= link_to "Start", new_user_path,  class: "btn btn-info btn-lg" %></p>
			</div>
		</div>
	</div>
</div>

