@import url(http://fonts.googleapis.com/css?family=Rochester);
// @import url(http://fonts.googleapis.com/css?family=Lato:100,400);
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
// $fancy-font: 'Source Sans Pro', sans-serif;
// $fancy-font: 'Lato', sans-serif;
$fancy-font: 'Rochester', cursive;

// h1,h2,h3{
// 	font-family: $fancy-font;
// 	font-weight: 200;
// }

// body {
// 	font-family: $fancy-font;
// 	font-weight: 400;
// }
body {
  padding-top: 100px;  //push body down from header
  padding-bottom: 40px; // put body up from footer
  // background-color: #eee;
}


/*header*/

#logo{
	font-family: $fancy-font;
	font-weight: 200;
	float: left;
	font-size: 40px;
	// margin-left: 5px;
	// line-height: 1;
	margin-top: 15px;
}

#logo:hover{
	color: #777;
	text-decoration: none;
}

#logo-image{
	display: inline-block;
	float: left;
	height: 50px;
	// padding: 5px;
	margin-left: 5px;
}


// .nav .navbar-fixed-top .navbar-header .navbar-brand {
// 	height: 80px;
// }
// .nav .navbar-nav .navbar-text{ 
// 	margin-top: 15px;
// 	height: 80px;
// 	line-height: 40px;
// }

