<% content_for :sidebar do %>
	<li class="list-group-item">
		<%= link_to "New User", new_admin_user_path %>
	</li>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		Users				
	</div>
						
	<ul id="users" class="list-group">
	  <% @users.each do |user| %>
	    <li class="list-group-item"><%= link_to user, [:admin, user] %></li>
	  <% end %>
	</ul>
</div>		