<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="<%= root_path %>" class="navbar-brand">
          <%= image_tag "robin50.png" ,{id: "logo-image"}%>
        </a>
        <h2 id="logo"class="text-muted">ProjectRobin</h2>   
      </div>
      <%= render partial: "layouts/navbar" %>
    </div>
  </nav>
</header>